<html lang="en">
  <head>
    <title>Restaurants</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
  </head>
  <body>
    <main class="main-content">
      <h1>Menus Alerts</h1>
    </main>
  </body>
</html>
